# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@ec7c612da71abf16c3e9ce28fe239b9e0089d616

  verify-renovate-config:
    uses: harmelodic/workflows/.github/workflows/verify-renovate-config.yaml@ec7c612da71abf16c3e9ce28fe239b9e0089d616
