# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@2fde90ca793b21b68edc62e13266f44b08018da0

  verify-renovate-config:
    uses: harmelodic/workflows/.github/workflows/verify-renovate-config.yaml@2fde90ca793b21b68edc62e13266f44b08018da0
